numpy
pandas
matplotlib
scikit-learn
tqdm
pyspark >= 3.4.0
pyarrow
torch
torchvision
pytorch-lightning
lightning
luigi
torch
transformers
opencv-python
ipywidgets
numba
pacmap
#add all the dependencies


# developer tools
jupyterlab
ruff
pre-commit
pytest
